<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../vue包/vue.js"></script>
  </head>
  <body>
    <div id="box">
      <input type="text" placeholder="請輸入用戶名" v-model="user_name" />
      <input
        type="password"
        placeholder="請輸入用戶密碼"
        v-model="nser_password"
      />
      <button @click="login">登入</button>
    </div>
    <script>
      new Vue({
        el: "#box",
        data: {
          //在data 設定初始值
          user_name: null,
          nser_password: null,
        },
        methods: {
          login() {
            alert(`用戶名${this.user_name}\n 用戶密碼${this.nser_password}`);
          },
        },
      });
    </script>
  </body>
</html>
